# Node modules
node_modules/

# Logs
logs/
*.log

# Environment files
.env

# npm package lock file
package-lock.json

# Build directories
build/
dist/

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.idea/
.vscode/

# Coverage directory
coverage/

# dotenv and local config files
*.env.local
*.env.*.local

# .eslint cache files
.eslintcache

# Other system files
*.swp
